<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body{
            background-color: lavender;
        }
        form{
            margin: 200px auto;
        }
        td, input{
            font-size: 16pt;
            font-family: "Avenir Next";
        }
    </style>
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<center>
<div id="form">
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr>
                <td>Username:</td>
                <td>
                    <!--<input type="text" th:field="*{username}" />-->
                    <input type="text" name="username"/>
                </td>
            </tr>
            <tr>
                <td>File to upload:</td>
                <td>
                    <input type="file" name="file" />
                </td>
            </tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>
</center>
<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

</body>
</html>